#### Print Hello World

In [29]:
print("Hello World")
print(2)
print(34.45)
print(True)
print(2+4)

### Comments
# Comments start with #
# This is a example of comment

Hello World
2
34.45
True
6

#### int and float

In [4]:
print(2+4)
print(type(2+4))

print(2-4)
print(type(2-4))

print(2*4)
print(type(2*4))

print(2/4)
print(type(2/4))

print(0)
print(type(0))

print(10.34)
print(type(10.34))

6
<class 'int'>
-2
<class 'int'>
8
<class 'int'>
0.5
<class 'float'>
0
<class 'int'>
10.34
<class 'float'>

In [5]:
#Math functions
print(round(2.6))
print(round(2.4),'\n')

print(abs(-20))
print(abs(20))

3
2

20
20

#### Operator Precedence

In [6]:
print((20 - 3) + 2 ** 2)

# Sequence
# ()
# **
# * /
# + -

21

#### bin()

In [7]:
print(bin(5))
print(int('0b101', 2))

0b101
5

#### Variables

In [8]:
_name = "Prabhat"
user_age = 22
python3 = True

print(_name)
print(user_age)
print(python3)

# Variable name - Must start with character
    # user
    # user_id
    # _user_id
    # user2_id4

Prabhat
22
True

In [9]:
iq = 190
user1_age = iq/4

print(iq)
print(user1_age)

a = user1_age
print(a)

190
47.5
47.5

In [10]:
#Constants - should never be change
PI = 3.14
print(PI)

PI = 0
print(PI)

3.14
0

In [11]:
a,b,c = 1,2,3

print(a)
print(b)
print(c)

1
2
3

#### augmented assignment operator

In [12]:
some_value = 5

some_value = some_value + 2
print(some_value)

some_value += 2
print(some_value, '\n')

some_mul = 5
some_mul *= 2
print(some_mul)

7
9

10

#### str

In [13]:
name = "Prabhat"
print(type(name))

intro = "Hello, my name is prabhat and i am 22 years old"
print(type(intro))

long_string = '''
WOW
O O
---
'''

print(long_string)

<class 'str'>
<class 'str'>

WOW
O O
---

In [14]:
# String Concatenation
print('hello ' + 'prabhat')

first_name = "Prabhat"
last_name = "Gupta"
full_name = first_name + ' ' + last_name

print(full_name)

hello prabhat
Prabhat Gupta

In [15]:
# str()
print(type(5))
print(type(str(5)))
print(type(int(str(5))), '\n')

a = str(100)
b = int(a)
c = float(a)
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'int'>

<class 'str'>
<class 'int'>
<class 'float'>

#### Escape Sequence, tab and new line

In [16]:
weather = "\t Its\'s \"kind of\" sunny \n New line"
print(weather)

	 Its's "kind of" sunny
 New line

#### Formatted Strings

In [17]:
name = "Prabhat"
age = 22

print("hi " + name + " You are", age, "years old.")

print("hi {} You are {} years old.".format(name, age))

hi Prabhat You are 22 years old.
hi Prabhat You are 22 years old.

In [18]:
print("hi {} you are {} years old.".format(name, age), '\n')

print("hi {1} you are {0} years old.".format(name, age),'\n')

print("hi {name} you are {age} years old.".format(name = "Jhonny", age = 43))

hi Prabhat you are 22 years old.

hi 22 you are Prabhat years old.

hi Jhonny you are 43 years old.

In [19]:
print(f"hi {name} you are {age} years old.")

hi Prabhat you are 22 years old.

#### String indexes

Strings are immutable

In [20]:
name = "0123456789"

print(name[3])
print(name[1], '\n')

print(name[2:5])
print(name[0:])
print(name[0:8])
print(name[:], '\n')

# [start:stop:stepover]
print(name[0:9:2])
print(name[::2], '\n')

print(name[::-1])

3
1

234
0123456789
01234567
0123456789

02468
02468

9876543210

#### String Methods

In [21]:
quote = "to be OR not to be"

print(quote.upper())
print(quote.capitalize())
print(quote.lower())

print(quote.find('be'))

print(quote.replace('be', 'me'))

print(quote)

TO BE OR NOT TO BE
To be or not to be
to be or not to be
3
to me OR not to me
to be OR not to be

#### Boolean

In [22]:
name = "Prabhat"
is_cool = True

print(bool(1))
print(bool(0))
print(bool("Hello"))

True
False
True

#### Taking input from user

In [23]:
name = input("What's your good name: ")
birth_year = input("What year were you born: ")
age = 2022 - int(birth_year)

print(f"Hi {name}, you are {age} years old")

What's your good name: Prabhat
What year were you born: 2000
Hi Prabhat, you are 22 years old

#### Exercise - Password Checker

In [24]:
username = input("Enter username: ")
password = input("Enter password: ")

password_length = len(password)
hidden_password = '*' * password_length

print(f'{username}, your password {hidden_password} is {password_length} letter long')

Enter username: gprabhat6
Enter password: prebhsdfdfd
gprabhat6, your password *********** is 11 letter long

### Data Structures

#### list

In [25]:
li = [1,2,3,4,5]
li2 = ['a', 'b', 'c', 'd']
li3 = [1, 2.4, 'a', True]

print(li)
print(li2)
print(li3)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
[1, 2.4, 'a', True]

In [26]:
amazon_cart = ['notebooks',
               'sunglasses',
               'toys',
               'grapes'
              ]
print(amazon_cart[0])
print(amazon_cart[1])
print(amazon_cart[2])
print(amazon_cart[3], '\n')


# List Slicing
print(amazon_cart[::2])
amazon_cart[0] = 'laptop'
print(amazon_cart)

new_cart = amazon_cart[:]
new_cart[0] = 'gum'
print(new_cart)

notebooks
sunglasses
toys
grapes

['notebooks', 'toys']
['laptop', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']

#### Matrix

In [27]:
matrix = [
    [1,0,1],
    [0,1,0],
    [1,0,1]
]

print(matrix, '\n')

print(matrix[0])
print(matrix[0][1], '\n')

print(matrix[1])
print(matrix[1][1])

[[1, 0, 1], [0, 1, 0], [1, 0, 1]]

[1, 0, 1]
0

[0, 1, 0]
1

#### List Methods

In [28]:
li = [1,2,3,4,5]