#### args and kwargs

In [13]:
# *args

def super_function(*args):
    print(*args)
    print(args)
    return sum(args)

super_function(1,2,3,4,5)

1 2 3 4 5
(1, 2, 3, 4, 5)

15

In [18]:
# *kwargs

def super_function(*args, **kwargs):
    total = 0
    for items in kwargs.values():
        total += items
    print(kwargs)
    return sum(args) + total

super_function(1,2,3,4, num1=23, num2= 34)

{'num1': 23, 'num2': 34}

67

In [37]:
# Rule: params, *args, default parameters, **kwargs
# Example: super_function(name, age, *args, verified=False, **kwargs)

def super_function(name, age, *args, is_vefified='No', **kwargs):
    print(f'Welcome, {name}')
    print(f'Age: {age}')
    print('Verified: ', is_vefified)
    
    total = 0
    for items in kwargs.values():
        total += items
    return sum(args) + total

super_function('Prabhat', 22, 1,2,3,4, is_vefified='Yes', num1=5, num2=6)

Welcome, Prabhat
Age: 22
Verified:  Yes

21

exercise

In [45]:
def highest_even(li):
    evens = []
    for item in li:
        if item % 2 == 0:
            evens.append(item)
    return max(evens)
    pass

print(highest_even([10,2,3,4,6,7,13]))

10

walrus operator

In [63]:
a = 'hellloooooooooo'

if len(a) > 10:
    print(f'too long {len(a)} elements.' + '\n')
    
if ((n := len(a)) > 10):
    print(f'too long {n} elements.')

too long 15 elements.

too long 15 elements.

In [66]:
a = 'hellloooooooooo'
while ((n := len(a)) > 7):
    print(n)
    a = a[:-1]
    
print(a)

15
14
13
12
11
10
9
8
hellloo

#### Scope

What variables do I have access to?

#1 - start with local

#2 - parent local

#3 - global

#4 - built in python functions

In [74]:
total = 100   # global scope
def some_sun():
    total2 = 100000  # local scope 
    return total2
    
print(total)
print(some_sun())
print(total)

100
100000
100

In [83]:
a = 100   # global scope

def parent():
    a=200     # parent scope
    def some_sun():
        return a  # local scope
    return some_sun()

print(parent())
print(a)

200
100

In [84]:
a = 100

def parent():
    def some_sun():
        return a
    return some_sun()

print(parent())
print(a)

100
100

In [87]:
a = 100   # global scope

def parent():
    def some_sun():
        return sum
    return some_sun()

print(parent())
print(a)

<built-in function sum>
100

nonlocal

In [94]:
def outer():
    x = 'local'
    def inner():
        nonlocal x
        x = 'nonlocal'
        print('inner: ', x)

    inner()
    print('outer: ', x)
    
outer()

inner:  nonlocal
outer:  nonlocal