#### Print Hello World

In [39]:
print("Hello World")
print(2)
print(34.45)
print(True)
print(2+4)

Hello World
2
34.45
True
6

#### comments

In [40]:
### Comments
# Comments start with #
# This is a example of comment

#### int and float

In [130]:
print(2+4)
print(type(2+4))

print(2-4)
print(type(2-4))

print(2*4)
print(type(2*4))

print(2/4)
print(type(2/4))

print(0)
print(type(0))

print(10.34)
print(type(10.34))

6
<class 'int'>
-2
<class 'int'>
8
<class 'int'>
0.5
<class 'float'>
0
<class 'int'>
10.34
<class 'float'>

In [131]:
#Math functions
print(round(2.6))
print(round(2.4),'\n')

print(abs(-20))
print(abs(20))

3
2

20
20

#### Operator Precedence

In [132]:
print((20 - 3) + 2 ** 2)

# Sequence
# ()
# **
# * /
# + -

21

#### bin() -> binary

In [133]:
print(bin(5))
print(int('0b101', 2))

0b101
5

#### Variables

In [182]:
# Variable name - Must start with character
    # user
    # user_id
    # _user_id
    # user2_id4

_name = "Prabhat"
user_age = 22
python3 = True

print(_name)
print(user_age)
print(python3)

Prabhat
22
True

In [135]:
iq = 190
user1_age = iq/4

print(iq)
print(user1_age)

a = user1_age
print(a)

190
47.5
47.5

Constants - should never be change

In [136]:
PI = 3.14
print(PI)

PI = 0
print(PI)

3.14
0

In [137]:
a,b,c = 1,2,3

print(a)
print(b)
print(c)

1
2
3

#### augmented assignment operator

In [138]:
some_value = 5

some_value = some_value + 2
print(some_value)

some_value += 2
print(some_value, '\n')

some_mul = 5
some_mul *= 2
print(some_mul)

7
9

10

#### string

In [139]:
name = "Prabhat"
print(type(name))

intro = "Hello, my name is prabhat and i am 22 years old"
print(type(intro))

long_string = '''
WOW
O O
---
'''

print(long_string)

<class 'str'>
<class 'str'>

WOW
O O
---

#### String Concatenation

In [184]:
print('hello ' + 'prabhat')

first_name = "Prabhat"
last_name = "Gupta"
full_name = first_name + ' ' + last_name

print(full_name)

hello prabhat
Prabhat Gupta

str()

In [186]:
print(type(5))
print(type(str(5)))
print(type(int(str(5))), '\n')

a = str(100)
b = int(a)
c = float(a)
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'int'>

<class 'str'>
<class 'int'>
<class 'float'>

#### Escape Sequence, tab and new line

In [142]:
weather = "\t Its\'s \"kind of\" sunny \n New line"
print(weather)

	 Its's "kind of" sunny
 New line

#### Formatted Strings

In [143]:
name = "Prabhat"
age = 22

print("hi " + name + " You are", age, "years old.")

print("hi {} You are {} years old.".format(name, age))

hi Prabhat You are 22 years old.
hi Prabhat You are 22 years old.

In [144]:
print("hi {} you are {} years old.".format(name, age), '\n')

print("hi {1} you are {0} years old.".format(name, age),'\n')

print("hi {name} you are {age} years old.".format(name = "Jhonny", age = 43))

hi Prabhat you are 22 years old.

hi 22 you are Prabhat years old.

hi Jhonny you are 43 years old.

In [145]:
print(f"hi {name} you are {age} years old.")

hi Prabhat you are 22 years old.

String indexes -> Strings are immutable

In [190]:
name = "0123456789"

print(name[3])
print(name[1], '\n')

print(name[2:5])
print(name[0:])
print(name[0:8])
print(name[:])

3
1

234
0123456789
01234567
0123456789

[start:stop:stepover]

In [191]:
print(name[0:9:2])
print(name[::2], '\n')

print(name[::-1])

02468
02468

9876543210

#### String Methods

In [147]:
quote = "to be OR not to be"

print(quote.upper())
print(quote.capitalize())
print(quote.lower())

print(quote.find('be'))

print(quote.replace('be', 'me'))

print(quote)

TO BE OR NOT TO BE
To be or not to be
to be or not to be
3
to me OR not to me
to be OR not to be

#### Boolean

In [148]:
name = "Prabhat"
is_cool = True

print(bool(1))   # True
print(bool(0))   # False
print(bool([]))  # empty - False
print(bool([0]))  # True
print(bool("Hello"))  # True
print(bool(None))  # False

True
False
False
True
True
False

#### Taking input from user

In [149]:
name = input("What's your good name: ")
birth_year = input("What year were you born: ")
age = 2022 - int(birth_year)

print(f"Hi {name}, you are {age} years old")

What's your good name: prr
What year were you born: 2000
Hi prr, you are 22 years old

#### Exercise - Password Checker

In [150]:
username = input("Enter username: ")
password = input("Enter password: ")

password_length = len(password)
hidden_password = '*' * password_length

print(f'{username}, your password {hidden_password} is {password_length} letter long')

Enter username: fdf
Enter password: fdddf
fdf, your password ***** is 5 letter long

### Data Structures

#### list

In [151]:
li = [1,2,3,4,5]
li2 = ['a', 'b', 'c', 'd']
li3 = [1, 2.4, 'a', True]

print(li)
print(li2)
print(li3)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
[1, 2.4, 'a', True]

In [152]:
amazon_cart = ['notebooks',
               'sunglasses',
               'toys',
               'grapes'
              ]
print(amazon_cart[0])
print(amazon_cart[1])
print(amazon_cart[2])
print(amazon_cart[3], '\n')


# List Slicing
print(amazon_cart[::2])
amazon_cart[0] = 'laptop'
print(amazon_cart)

new_cart = amazon_cart[:]
new_cart[0] = 'gum'
print(new_cart)

notebooks
sunglasses
toys
grapes

['notebooks', 'toys']
['laptop', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']

Matrix

In [153]:
matrix = [
    [1,0,1],
    [0,1,0],
    [1,0,1]
]

print(matrix, '\n')

print(matrix[0])
print(matrix[0][1], '\n')

print(matrix[1])
print(matrix[1][1])

[[1, 0, 1], [0, 1, 0], [1, 0, 1]]

[1, 0, 1]
0

[0, 1, 0]
1

List Methods:

In [154]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

adding (append)

In [155]:
new_li = li.append(100)
print(li)
print(new_li)

[1, 2, 3, 4, 5, 100]
None

insert

In [156]:
new_li1 = li.insert(2, 200)
print(li)
print(new_li1)

[1, 2, 200, 3, 4, 5, 100]
None

extend

In [157]:
new_li2 = li.extend([200, 300, 400])
print(li)
print(new_li2)

[1, 2, 200, 3, 4, 5, 100, 200, 300, 400]
None

removing - pop

In [158]:
new_li3 = li.pop()
print(new_li3)
print(li)
li.pop(0)
print(li)

400
[1, 2, 200, 3, 4, 5, 100, 200, 300]
[2, 200, 3, 4, 5, 100, 200, 300]

removing - remove

In [159]:
print(li)
new_li4 = li.remove(4)
print(new_li4)
print(li)

[2, 200, 3, 4, 5, 100, 200, 300]
None
[2, 200, 3, 5, 100, 200, 300]

clear

In [160]:
new_li5 = li.clear()
print(new_li5)
print(li)

None
[]

index

In [161]:
li = ['a', 'b', 'c', 'c', 'd', 'e']
print(li)
new_lis = li.index('d')
print(new_lis)

print(li.index('c', 0, 3))

['a', 'b', 'c', 'c', 'd', 'e']
4
2

keyword - in

In [162]:
print('d' in li)
print('x' in li)

True
False

count

In [163]:
print(li.count('c'))
print(li.count('d'))

2
1

sort

In [171]:
li = [2,4,3,5,1,6,9,7,8]
print(li)
print(li.sort())

li.sort()
print(li)

[2, 4, 3, 5, 1, 6, 9, 7, 8]
None
[1, 2, 3, 4, 5, 6, 7, 8, 9]

sorted

In [173]:
li = [2,4,3,5,1,6,9,7,8]
print(li)
print(sorted(li))

[2, 4, 3, 5, 1, 6, 9, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

reverse

In [176]:
li = [2,4,3,5,1,6,9,7,8]
print(li)
print(li.reverse())
print(li)

[2, 4, 3, 5, 1, 6, 9, 7, 8]
None
[8, 7, 9, 6, 1, 5, 3, 4, 2]

copying

In [178]:
new_li = li[:]
print(new_li)

new_li2 = li.copy()
print(new_li2)

print(len(new_li2),'\n')

li = [2,4,3,5,1,6,9,7,8]
li.sort()
li.reverse()
print(li)
print(li[::-1])

[8, 7, 9, 6, 1, 5, 3, 4, 2]
[8, 7, 9, 6, 1, 5, 3, 4, 2]
9

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

join

In [168]:
asentence = ' '
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'JOJO'])
print(new_sentence)

# 2nd Method
new_sentence = ' '.join(['hi', 'my', 'name', 'is', 'JOJO'])
print(new_sentence)

hi my name is JOJO
hi my name is JOJO

List Unpacking

In [169]:
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

None

In [180]:
weapons = None
print(weapons)

None

#### Dictionary

unordered -> key and value pairs

key has to be unique -> key:value

keys are immutable

In [200]:
dictionary = {
    'a': 1,
    'b': [1,2,3,'hi', True]
}
print(dictionary)

print(dictionary['a'])
print(dictionary['b'][3])

{'a': 1, 'b': [1, 2, 3, 'hi', True]}
1
hi

In [208]:
my_list = [
    {
        'a': [1,2,3],
        'b': 'hello',
        'c': True
    },
    {
        'a': [4,5,6],
        'b': 'hi',
        'c': False
    }
]
print(my_list, '\n')

print(my_list[0]['a'][2])
print(my_list[1]['b'])

[{'a': [1, 2, 3], 'b': 'hello', 'c': True}, {'a': [4, 5, 6], 'b': 'hi', 'c': False}]

3
hi

Dictionary Methods

In [215]:
user = {
    'basket': [1,2,3,4],
    'greet': 'hello'
}

print(user['basket'])
print(user.get('age'),'\n')

print(user.get('age', 25))   # assigning default value

[1, 2, 3, 4]
None

25

Creating dictionary using -> dict()

In [225]:
user2 = dict(name='Prabhat')
print(user2)

{'name': 'Prabhat'}

Accessing items using keys and values

In [259]:
user = {
    'a': [1,2,3],
    'b': 'hello',
    'c': 20
}
print('a' in user)
print('x' in user, '\n')

print('c' in user.keys())
print('x' in user.keys(),'\n')

print('hello' in user.values())
print(20 in user.values())
print('x' in user.values())

True
False

True
False

True
True
False

items

In [254]:
print(user.items())

dict_items([('b', 'hello'), ('c', 20)])

we can use -> copy, clear

pop

In [272]:
user = {
    'a': [1,2,3],
    'b': 'hello',
    'c': 20
}

print(user.pop('a'))
print(user, '\n')

print(user.popitem())
print(user)

[1, 2, 3]
{'b': 'hello', 'c': 20}

('c', 20)
{'b': 'hello'}

update

In [273]:
print(user.update({'c': 55}))
print(user, '\n')

print(user.update({'d': 155}))
print(user)

None
{'b': 'hello', 'c': 55}

None
{'b': 'hello', 'c': 55, 'd': 155}

#### Tuple

Tuple is immutable

In [293]:
my_tuple = (1,2,3,4,5,6)
print(my_tuple, '\n')

print(5 in my_tuple)
print(my_tuple[1],'\n')

new_tuple = my_tuple[1:3]
print(new_tuple)

(1, 2, 3, 4, 5, 6)

True
2

(2, 3)

In [289]:
x,y,z, *others = (1,2,3,4,5,6,7)
print(x)
print(y)
print(z)
print(other)

1
2
3
[4, 5, 6, 7, 8]

Tuple Methods

In [297]:
my_tuple = (1,2,3,4,5,5)

print(len(my_tuple),'\n')
print(my_tuple.count(5), '\n')

print(my_tuple.index(4))

6

2

3

#### set

unordered collection of unique values -> no duplicates

In [302]:
my_set = {1,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

In [306]:
my_set.add(100)

# duplicate
my_set.add(2)    

print(my_set)

{1, 2, 3, 4, 5, 100}

removing duplicates from a list

In [309]:
my_list = [1,2,3,4,5,5,5]
print(set(my_list))

{1, 2, 3, 4, 5}

In [313]:
my_set = {1,2,3,4,5,5}

print(1 in my_set)
print(len(my_set))
print(list(my_set))

True
5
[1, 2, 3, 4, 5]

In [12]:
new_set = my_set.copy()
print(new_set, '\n')

new_set.clear()
print(new_set)

{1, 2, 3, 4, 5}

set()

difference

In [11]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8}

print(my_set.difference(your_set))
print(your_set.difference(my_set))

{1, 2, 3}
{8, 6, 7}

discard

In [10]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8}

print(my_set.discard(5))
print(my_set)

None
{1, 2, 3, 4}

difference_update

In [9]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8}

print(my_set.difference_update(your_set))
print(my_set)

None
{1, 2, 3}

intersection

In [34]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8}

print(my_set.intersection(your_set))

print(my_set & your_set)

set()
set()

isdisjoint

In [38]:
my_set = {1,2,3}
your_set = {4,5,6,7,8}

# has nothing in common
print(my_set.isdisjoint(your_set))

True

issubset

In [35]:
my_set = {4,5}
your_set = {4,5,6,7,8}

print(my_set.issubset(your_set))

True

issuperset

In [37]:
my_set = {4,5}
your_set = {4,5,6,7,8}

print(your_set.issuperset(my_set))

True

union

In [31]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8}

# combines and removes duplicates
print(my_set.union(your_set))

print(my_set | your_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}