#### comprehensions

list comprehension

In [23]:
# Normal way
my_list = []

for char in 'hello':
    my_list.append(char)
    
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [24]:
my_list = [char for char in 'hello']
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [25]:
my_list2 = [num for num in range(1,101)]
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [26]:
my_list3 = [num*2 for num in range(1,101)]
print(my_list3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [27]:
my_list4 = [num**2 for num in range(1,101) if num % 2 == 0]
print(my_list4)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [1]:
guests = {
    'Alice': 17,
    'Bob': 21,
    'Carol': 25,
    'Dan': 16,
    'Ellen': 24
}

messages = [f'Welcome {name}' for name in guests if guests[name] >= 18]
print(messages)

['Welcome Bob', 'Welcome Carol', 'Welcome Ellen']

In [6]:
new_numbers = [num * 2 if num % 2 != 0 else num / 2 for num in range(11)]
print(new_numbers)

[0.0, 2, 1.0, 6, 2.0, 10, 3.0, 14, 4.0, 18, 5.0]

In [3]:
ls_names = []
while True:
    user = input('Please enter a name: ')
    if user.lower() == 'stop':
        break
    ls_names.append(user)
    
hellos = [f'Ciao {user.capitalize()}' if ls_names[0].upper() == 'H' else f'Hello {user.capitalize()}' for user in ls_names]
print(hellos)

Please enter a name: neha
Please enter a name: sunny
Please enter a name: prabhat
Please enter a name: henry
Please enter a name: hansa
Please enter a name: stop
['Hello Neha', 'Hello Sunny', 'Hello Prabhat', 'Hello Henry', 'Hello Hansa']

set comprehension

In [28]:
my_set = {char for char in 'hello'}
print(my_set)

{'h', 'o', 'e', 'l'}

In [29]:
my_set2 = [num for num in range(1,101)]
print(my_set2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [30]:
my_set3 = [num*2 for num in range(1,101)]
print(my_set3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [31]:
my_set4 = [num**2 for num in range(1,101) if num % 2 == 0]
print(my_set4)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

dictionary comprehension

In [36]:
simple_dict = {'a': 1, 'b':2}
my_dict = {k:v**2 for k,v in simple_dict.items()}
print(my_dict)

{'a': 1, 'b': 4}

In [39]:
simple_dict = {'a': 1, 'b':2}
my_dict = {k:v**2 for k,v in simple_dict.items() if v % 2 == 0}
print(my_dict)

{'b': 4}

In [42]:
my_dict = {num:num*2 for num in [1,2,3,4]}
print(my_dict)

{1: 2, 2: 4, 3: 6, 4: 8}

exercise

In [49]:
some_list = ['a', 'b', 'c', 'a', 'd', 'c', 'b', 'e']

duplicates = list(set([x for x in some_list if some_list.count(x) > 1]))
print(duplicates)

['a', 'b', 'c']